:root {
  --color-brand: #ff5743;
  --color-text: #111111;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: 42rem;
  margin: 0 auto;
  overflow: auto;
}

@media screen and (min-width: 64rem) {
  .container {
    max-width: 90rem;
  }
}

h1 {
  font-size: 1.2em;
}

h3 {
  padding-top: 1.5rem;
}

ul, ol {
  text-indent: 0;
  margin: 0;
  padding-left: 20px;
}

ul li {
  padding-bottom: 6px;
  line-height: 22px;
}

/* older css */

body {
  min-height: 100vh;
  font-family: "GT Walsheim Pro", "GT Walsheim", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: var(--color-text);
  border: 10px var(--color-brand) solid;
  margin: 0;
  padding: 1rem;
}

@media screen and (min-width: 40rem) {
  body {
    font-size: 1.25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 64rem) {
  body {
    font-size: 1.5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  margin-top: 40px;
}

p a, a {
  color: #333;
  text-decoration: none;
  padding-bottom: 0;
  border-bottom: 2px #ff5743 solid;
}

p a:visted {
  color: var(--color-brand);
}

a:hover {
  color: #2176ff;
}

a:active {
  color: #2176ff;
}

small {
  padding: 10px 0;
}

p, ol {
  line-height: 1.666;
}

/* funsies */

::selection {
  background: #65cde5;
}

::-moz-selection {
  background: #65cde5;
}

/* Map Popup Style */

.leaflet-popup-content h2 {
  margin-bottom: 4px;
  margin-top: auto;
}

#Pagination {
  padding-top: 0.5rem;
  border-top: 1px solid #fcd9e3;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

#Pagination a {
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  letter-spacing: .025em;
}

.pagination-counter {
  padding-left: 1rem;
  padding-right: 1rem;
}

.no-pag {
  color: #acacac;
  border.color: transparent;
}

.no-pag:hover {
  color: #acacac;
}

.photo {
  display: inline-block;
  width: 100px;
}

.summary {
  white-space: pre-wrap;
}

.extra {
  font-size: 1rem;
  white-space: pre-wrap;
  color: #999
}

.loading .content {
  display: none;
}

.loading-indicator {
  display: none;
}

.loading .loading-indicator {
  display: block;
}

.right-side label {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: .5rem 0;
}

.right-side label:hover,
.right-side label:focus {
  background-color: #fcd9e3;
  box-shadow: 0 0 1rem rgba(0,0,0,.1);
}

.rank {
  padding: 0 .4em;
  width: 3ch;
  text-align: center;
}
.right-side label strong {
  white-space: nowrap;
}

textarea {
  font-size: .875rem;
  line-height: 1.5em;
  width: 100%;
  min-height: 4em;
  max-height: 10em;
  font-family: "GT Walsheim Pro", "GT Walsheim", sans-serif;
  border: 1px solid #fcd9e3;
  padding: .5rem;
}

.speedmode {
  font-size: 1rem;
}

.note {
  color: #999;
  clear: both;
  font-size: .75rem;
  visibility: hidden;
}

input:checked+span {
  background-color: #fcd9e3;
}

.left-side {
  max-width: 32em;
  font-family: Libre Baskerville, Baskerville, Georgia, serif;
}

@media screen and (min-width: 64rem) {
  .grid-container {
    display: flex;
    justify-content: space-between;
  }
  .right-side {
    padding-left: 6rem;
  }
}

.export-container {
  opacity: 0.15;
}

.export-container label {
  opacity: 0;
}

.export-container:hover,
.export-container:focus {
  opacity: 1;
}

.export-container:hover label,
.export-container:focus label {
  opacity: 1;
}


.stat {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 1rem;
  margin-right: .5rem;
  background-color: #fcd9e3;
  line-height: initial;
}

.stat span {
  background-color: #f29fc4;
  display: inline-block;
  position: absolute;
  width: 0;
  height: 1rem;
  margin-right: .5rem;
  line-height: initial;
}
